:root {
    --old-price-color: #D6D6D6;
    --add-to-cart-bg-color: #FF497C;
}

.product_item {
    padding-inline: 15px;
    margin-block-end: 30px;

    &:hover, &:focus {
        .thumbnail {
            .product_hover_action {
                opacity: 1;
                visibility: visible;
                transform: translateY(-30px);
                transition-delay: 500ms;
            }
        }
    }

    .thumbnail {
        position: relative;

        .product_img {
            border-radius: 18px;
            display: inline-block;
            background: white;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                transform: scale(1);
                width: 100%;
                height: 100%;
                border: none;
                object-fit: cover;
                vertical-align: middle;
            }
        }

        .label_discount {
            display: inline-block;
            position: absolute;
            top: 25px;
            left: auto;
            right: -10px;

            .badget {
                display: inline-block;
                background-color: var(--main-blue-color);
                color: var(--white-color);
                font-size: 14px;
                font-weight: 500;
                padding: 2px 6px 3px;
                border-radius: 4px;
                box-shadow: 0 8px 16px 0 rgb(53 119 240 / 30%);
            }
        }

        .product_hover_action {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transition: 300ms ease;
            opacity: 0;
            visibility: hidden;

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    button {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-inline: 5px;
                        border: none;
                        border-radius: 4px;
                        background-color: transparent;
                        cursor: pointer;
                        z-index: 1;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-color: var(--white-color);
                            border: 1px solid rgba(0, 0, 0, .03);
                            border-radius: 4px;
                            z-index: -1;
                            transition: 300ms ease;
                        }

                        &:hover,
                        &:focus {
                            &::before {
                                transform: scale(1.2);
                            }

                            &.add_to_cart {
                                &::before {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        &.add_to_cart {
                            width: auto;
                            padding-inline: .5rem;
                            background-color: var(--add-to-cart-bg-color);
                            color: var(--white-color);
                            font-size: 15px;
                            font-weight: 600;
                            font-family: "Roboto", sans-serif;

                            &::before {
                                background-color: var(--add-to-cart-bg-color);
                            }

                            // &:hover,
                            // &:focus {
                            //     transform: scale(1.1);

                            // }
                        }

                        .icon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .content {
        margin-block-start: 1.5rem;

        .title {
            font-size: 16px;
            font-weight: 500;
            margin-block-end: 10px;

            a {
                color: var(--light-gray-color);
                transition: 300ms;

                &:hover {
                    color: var(--main-blue-color);
                }
            }
        }

        .price {
            span:is(.discount_price, .old_price) {
                font-weight: 500;
            }

            .discount_price {
                color: var(--dark-color);
                font-size: 20px;
                margin-inline-end: 4px;
            }

            .old_price {
                font-size: 18px;
                color: var(--old-price-color);
                margin-inline-start: 4px;
                text-decoration: line-through;
            }
        }
    }
}