.toggle_paper {
    position: relative;
    padding-block-end: 2.5rem;
    display: flex;
    flex-direction: column;

    &.active {
        .title {
            &::before {
                width: 100%;
            }
        }


    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block-end: 10px;
        color: var(--dark-color);
        font-size: 20px;
        font-weight: 400;
        border-block-end: 2px solid var(--gray-border-color);
        margin-block-end: 20px;
        position: relative;
        cursor: pointer;
        user-select: none;

        .plus_minus {
            transform: translateY(2px);
            font-size: 21px;

            i {
                font-weight: 600;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--main-blue-color);
            transition: width 500ms ease;
        }
    }

    .sub_paper {
        height: 0;
        overflow: hidden;
        transition: height 500ms ease;
    }

    .drop_menu {
        li {
            line-height: 1.7;
            padding-block: 6px;

            a {
                position: relative;
                display: inline-block;
                padding-inline-start:  1.75rem;
                color: var(--light-gray-color);
                font-size: 14px;
                font-weight: 500;

                &.active {
                    &::before {
                        border-color: var(--main-blue-color);
                        background-color: var(--main-blue-color);
                    }

                    .check {
                        color: white;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    border: 1px solid var(--light-gray-color);
                    border-radius: 50%;
                }

                .check {
                    position: absolute;
                    top: 46%;
                    transform: translateY(-50%);
                    left: 2px;
                    color: transparent;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
}