@media (max-width: 992px) {
    .product_img_slider {
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        max-height: 100%;

        .thumbnail_wrapper {
            width: 100%;
            overflow-x: auto;

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-block-start: 1rem;
                text-align: start;

                &>* {
                    flex-basis: calc(25% - 20px);
                    margin-inline: 10px;
                }
            }
        }

        .current_slide {
            grid-row: 1;
        }
    }
}