:root {
    --input-border-color: #CBC3D9;
}

.form_area {
    padding: 30px;
    max-width: 450px;
    width: 100%;

    &_title {
        margin-block-end: 40px;
        color: var(--dark-color);
        font-size: 28px;
        font-weight: 500;
    }

    .input_group {
        margin-block-end: 35px;
        position: relative;
        max-width: 100%;
        color: var(--gray-color);

        label {
            position: absolute;
            inset: -8px auto auto 20px;
            background-color: white;
            padding-inline: 10px;
            z-index: 5;
            font-size: 14px;
            font-weight: 500;
            user-select: none;
        }

        .input_control {
            width: 100%;
            height: 60px;
            border: 1px solid var(--input-border-color);
            border-radius: 6px;
            padding-inline: 30px;
            font-size: 14px;
            background-color: white;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .submit_btn {
            position: relative;
            padding: 16px 38px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 500;
            color: white;
            isolation: isolate;
            cursor: pointer;
            
            &:hover {
                &::before {
                    scale: 1.1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: var(--main-blue-color);
                z-index: -1;
                border-radius: 6px;
                transition: 300ms ease;
            }
        }
        
        .forget_link {
            color: var(--main-blue-color);
            font-size: 14px;
            transition: 300ms ease;

            &:hover {
                color: var(--gray-color);
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .form_area {
        height: calc(100vh - 200px);
        overflow-y: auto;

        &_title {
            font-size: 24px;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 350px){
    .form_area {

        .actions {
            flex-direction: column;

            .submit_btn, .forget_link {
                width: 100%;
            }

            .forget_link {
                text-align: center;
                margin-block-start: 5px;
            }
        }
    }
}