@media only screen and (max-width: 992px) {
    .service_area {
        .area_wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer {
        .widget_wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: 576px) {
    .service_area {
        .area_wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .footer {
        .widget_wrapper {
            grid-template-columns: repeat(1, 1fr);

            .widget {
                .download_btn_group {
                    flex-direction: column;
                }
            }
        }
    }
}