.toggle_cart_container {
   color: var(--dark-color);

   //#region Cart Header
   .toggle_cart_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block-end: 1rem;
      border-block-end: 2px solid var(--close-btn-bg-color);

      .header_title {
         font-size: 26px;
         font-weight: 500;
      }

      .close_btn {
         width: 40px;
         height: 40px;
         background-color: var(--close-btn-bg-color);
         border: none;
         border-radius: 50%;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         transition: 300ms ease;

         &:is(:hover, :focus) {
            background-color: var(--main-blue-color);

            .close_icon {
               color: var(--white-color);
            }
         }

         .close_icon {
            color: var(--dark-color);
            font-size: 18px;
            font-weight: 600;
            transition: 300ms ease;
         }
      }
   }

   //#endregion

   //  #region Cart Body
   .toggle_cart_body {
      padding-block: 2rem;

      .product_list {
         .product_item {
            display: flex;
            align-items: center;
            padding-inline: 0;
            margin: 0;

            &:not(:last-child) {
               border-bottom: 1px solid var(--close-btn-bg-color);
               padding-block-end: 30px;
               margin-block-end: 30px;
            }

            .item_img {
               position: relative;

               a {
                  display: inline-block;
                  background-color: var(--close-btn-bg-color);
                  border-radius: 10px;
                  width: 100px;
                  height: 100px;
                  overflow: hidden;

                  img {
                     vertical-align: middle;
                     object-fit: cover;
                  }
               }

               .remove_item_btn {
                  border: 2px solid var(--white-color);
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  transition: 300ms ease;
                  position: absolute;
                  top: -16px;
                  left: -12px;


                  &:hover {
                     background-color: var(--main-blue-color);
                     color: var(--white-color);
                  }

                  .remove_item_icon {
                     font-weight: 600;
                     font-size: 18px;
                  }
               }
            }

            .item_content {
               display: flex;
               flex-direction: column;
               flex: 1;
               gap: 10px;
               margin-inline: 10px;

               .item_title {
                  a {
                     display: inline-block;
                     width: 175px;
                     font-size: 16px;
                     font-weight: 500;
                     color: var(--dark-color);
                     transition: 300ms ease;
                     white-space: nowrap;
                     text-overflow: ellipsis;
                     overflow: hidden;

                     &:hover {
                        color: var(--main-blue-color);
                     }
                  }
               }

               .item_price {
                  font-size: 18px;

                  .currency_symbol {
                     margin-inline-start: 2px;
                  }
               }
            }

            .item_quantity {
               display: flex;
               align-items: center;

               .qty_btn {
                  width: 25px;
                  height: 25px;
                  background-color: var(--close-btn-bg-color);
                  border-radius: 50%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  user-select: none;

                  .icon {
                     font-size: 12px;
                     font-weight: 600;
                  }
               }

               .qty_input {
                  font-size: 16px;
                  font-weight: 600;
                  margin-inline: .75rem;
                  justify-content: flex-end;
                  border-radius: 6px;
                  border: none;
                  width: 30px;
                  height: 25px;
                  text-align: center;

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                     -webkit-appearance: none;
                     appearance: none;
                     margin: 0;
                  }
               }
            }
         }
      }
   }

   //#endregion

   // #region Cart Footer
   .toggle_cart_footer {
      border-top: 2px solid var(--close-btn-bg-color);

      .cart_subtotal {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-block: 20px 30px;
         font-size: 24px;
         font-weight: 500;
      }

      .footer_action_btn {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 20px;

         .btn {
            padding: 18px;
            text-align: center;
            border-radius: 6px;
            color: var(--white-color);
            font-weight: 500;
            position: relative;
            z-index: 1;

            &:hover,
            &:focus {
               &::before {
                  transform: scale(1.05);
               }
            }

            &::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               border-radius: 6px;
               background-color: var(--footer-action-bg-color);
               z-index: -1;
               transition: 300ms ease;
            }
         }
      }
   }

   //#endregion
}