@media only screen and (max-width: 992px) {
    .header {
        padding-block: 15px;

        &_wrapper {
            .logo_brand {
                flex: 1;
            }

            .nav_menu {
                display: none;
            }

            .header_actions {
                flex: 4;
                justify-content: flex-end;

                .action_list {
                    margin-block-start: 5px;

                    .search {
                        display: none;
                    }

                    .mobile_search {
                        display: block;
                    }

                    .mobile_toggle {
                        display: block;
                    }
                }
            }

            //#region Mobile Navbar
            .mobile_navbar {
                display: block;
                visibility: hidden;

                .mobile_nav_container {
                    width: 270px;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    right: -100%;
                    background-color: white;
                    z-index: 100;
                    padding: 20px 30px;
                    transition: 300ms ease-in;
                }

                &.show {
                    visibility: visible;

                    .mobile_nav_container {
                        right: 0;
                    }
                }
            }

            //#endregion
        }
    }
}

@media only screen and (max-width: 576px) {
    .header {
        &_wrapper {
            .logo_brand {
                a {
                    font-size: 30px;
                }
            }

            .header_actions {
                .action_list {
                    li {
                        margin-inline: .5rem;

                        i {
                            font-size: 27px;
                        }
                    }

                    .mobile_search {
                        display: none;
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .header {
        &_wrapper {
            .toggle_cart {
                .toggle_cart_container {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .header {
        &_wrapper {
            .logo_brand {
                padding-inline: 15px 5px;

                a {
                    font-size: 30px;

                    &.brand {
                        display: none;
                    }

                    &.brand-short {
                        display: block !important;
                    }
                }
            }

            .header_actions {
                .action_list {
                    padding-inline: 5px;

                    li {
                        margin-inline: .5rem;

                        i {
                            font-size: 24px;
                        }
                    }

                    .mobile_search {
                        display: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 280px) {
    .header {
        &_wrapper {
            .mobile_navbar {
                .mobile_nav_container {
                    width: 100%;
                }
            }

            .toggle_cart {
                .toggle_cart_container {
                    width: 100%;
                }
            }
        }
    }
}