:root {
    --sidebar-border-clr: #CBD3D9;
    --sidebar-links-bg-color: #F6F7FB;
}

.account_sidebar {
    border: 1px solid var(--sidebar-border-clr);
    border-radius: 6px;
    padding: 30px 35px;

    .nav_tab {
        .tab_item {

            &.active {
                a {
                    color: var(--main-blue-color);
                    background-color: var(--sidebar-links-bg-color);
                }
            }

            a {
                display: block;
                padding: 12px 12px 12px 50px;
                position: relative;
                margin-block-end: .5rem;
                font-size: 15px;
                font-weight: 500;
                color: var(--gray-color);
                transition: 300ms ease;

                &:hover,
                &:focus {
                    color: var(--main-blue-color);
                    background-color: var(--sidebar-links-bg-color);
                }

                .icon {
                    position: absolute;
                    inset: 0 auto 0 18px;
                    display: inline-flex;
                    align-items: center;
                    font-size: 20px;
                    margin-block-start: -3px;
                }
            }
        }
    }
}