@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// GENERAL STYLES
.display_none {
    display: none;
}

.display_block {
    display: block;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}

@media (max-width: 992px){
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px){
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 100%;
        padding-inline: 0;
    }
}

// END OF GENERAL STYLES